<% if flash[:errors] %>
  <div>
    <p class = "alert alert-danger">
    <%= flash[:errors] %> </p>
  </div>
<% end %>

<p>
   you are logged in <big><%= @user.username %></big>!  How neato!
</p>

<%= link_to "Create a new Product", new_user_product_path(@user.id), method: :get %>
