<ul class="list-inline">
  <% product.categories.each do |category| %>
    <% pc = category.product_categories.find_by(product_id: product.id) %>
    <li><p><span class="label label-info"><%= category.name %></span></p>
      <% if @user && @user == product.user %>
        <%= link_to 'Remove Category', product_product_category_path(product, pc), method: :delete, class: "btn btn-sm btn-danger" %>
      <% end %>
    </li>
  <% end %>
</ul>
